@model IEnumerable<MarathaBusinessApi.Models.tblOccupation>


<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Occupation)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Occupation)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Oid }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Oid })
                </td>
            </tr>
}

    </table>
</div>